BOT_TOKEN=telegram_bot_tokeningizni_shu_yerga_qoying
ADMIN_IDS=123456789
DATABASE_URL=sqlite+aiosqlite:///taxi_bot.db
# Railway PostgreSQL ishlatsangiz:
# DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB
BOT_NAME=SafarX
BOT_USERNAME=Safarx_bot
CHANNEL_ID=@SafarX_0
